

head(LifeCycleSavings ) #Intercountry Life-Cycle Savings Data
tibble(LifeCycleSavings)
mydata=LifeCycleSavings
summary(mydata)
mydata = dplyr::rename(mydata, Sr=sr,Pop15=pop15,Pop75=pop75,Dpi=dpi,Ddpi=ddpi )
head(mydata,3)
select(mydata,Pop15,Pop75)
filter(mydata,Pop15>30 & Pop75<2)
mydata %>% filter(Pop15>30 & Pop75<2)%>% select(Dpi)%>% arrange(Dpi) #Dpi sütununu sıralamak istedim ve internetten araştırarak dplyr paketindeki arrange fonksiyonunu buldum.
#Bu filtreleme işleminin sonucunda gelen en yüksek değer 814'ü sınır kabul ederek aşağıdaki Dpi_cat sütununu oluşturdum.
mydata = mutate(mydata,
                Dpi_cat = ifelse(
                  Dpi <= 814,
                  "Low",
                  ifelse(Dpi <= 2000,
                         "Medium",
                         "High")
                )) 

head(mydata,50)%>% arrange(Dpi)

mydata=mutate(mydata,
              Ddpi_symbol=case_when(
                                 Ddpi<=3.76 ~ ":(" ,
                                 Ddpi>3.76 & Ddpi<=10 ~ ":|",
                                 Ddpi>10 ~ ":)",
                                   ))

head(mydata,3)
mydata_3=select(mydata,Sr,Pop15,Pop75,Dpi,Dpi_cat,Ddpi,Ddpi_symbol)
head(mydata_son)
